:root {
  --text: #171717;
  --rotate-speed: 40;
  --count: 8;
  --easeInOutSine: cubic-bezier(0.37, 0, 0.63, 1);
  --easing: cubic-bezier(0, 0.37, 1, 0.63);
  --mask-gradient: radial-gradient(
    100% 50% at 100%,
    #acacac5a 0%,
    #ffffff00 100%
  );
  --second-gradient: radial-gradient(
    100% 50% at 100% 50%,
    #cecece 0%,
    #eeeeee 100%
  );
  --circle-gradient: radial-gradient(
    circle,
    rgb(255, 255, 255) 40%,
    rgba(195, 195, 195, 0.8) 100%
  );
  --mask-after: linear-gradient(
    180deg,
    rgba(60, 26, 229, 0) 0%,
    #a0a0a0 50%,
    rgba(60, 26, 229, 0) 100%
  );
}

.dark {
  --text: #ffffff;
  --mask-gradient: radial-gradient(
    100% 50% at 100% 50%,
    rgba(0, 0, 0, 0.44) 0%,
    rgba(141, 26, 229, 0) 100%
  );
  --second-gradient: radial-gradient(
    100% 50% at 100% 50%,
    #535353 0%,
    #171717f4 100%
  );
  --circle-gradient: radial-gradient(
    circle,
    rgba(21, 21, 21, 0.827) 40%,
    rgb(106, 106, 106) 100%
  );
  --mask-after: linear-gradient(
    180deg,
    rgba(60, 26, 229, 0) 0%,
    #370057 50%,
    rgba(60, 26, 229, 0) 100%
  );
}

.filter-invert {
  @apply filter invert-100;
}
.dark .filter-invert {
  @apply filter invert-0;
}

.dark .svg-invert {
  @apply invert;
}

.void {
  width: 100%;
  /* max-width: 550px; */
  margin: auto;
  position: relative;
  aspect-ratio: 1 / 1;
  /* scale: 130%; */
  transform: translate(-5%, -5%);
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  z-index: 1;
}
li {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 96%;
  animation: rotateCW calc(var(--rotate-speed) * 1s) var(--easing) infinite;
}
.card {
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 14px 16px;
  gap: 6px;
  /* margin: 0 -2rem; */
  background: transparent;
  /* backdrop-filter: blur(10px); */

  border-radius: 25px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: var(--text) !important;
  animation: rotateCCW calc(var(--rotate-speed) * 1s) var(--easing) infinite;
}
a {
  text-decoration: none;
}
.model-name {
  font-weight: 400;
  font-size: 16px;
  color: var(--text-inverse); /* text fill color */
  -webkit-text-stroke: 1px var(--text); /* white stroke */
  display: block;
  font-family: var(--font-whyte);
  white-space: nowrap; /* nowrap instead of text-wrap-mode */
}

li:nth-child(2),
li:nth-child(2) .card {
  animation-delay: calc((var(--rotate-speed) / var(--count)) * -1s);
}
li:nth-child(3),
li:nth-child(3) .card {
  animation-delay: calc((var(--rotate-speed) / var(--count)) * -2s);
}
li:nth-child(4),
li:nth-child(4) .card {
  animation-delay: calc((var(--rotate-speed) / var(--count)) * -3s);
}
li:nth-child(5),
li:nth-child(5) .card {
  animation-delay: calc((var(--rotate-speed) / var(--count)) * -4s);
}
li:nth-child(6),
li:nth-child(6) .card {
  animation-delay: calc((var(--rotate-speed) / var(--count)) * -5s);
}
li:nth-child(7),
li:nth-child(7) .card {
  animation-delay: calc((var(--rotate-speed) / var(--count)) * -6s);
}
li:nth-child(8),
li:nth-child(8) .card {
  animation-delay: calc((var(--rotate-speed) / var(--count)) * -7s);
}

@keyframes rotateCW {
  from {
    transform: translate3d(0px, -50%, -1px) rotate(-45deg);
  }
  to {
    transform: translate3d(0px, -50%, 0px) rotate(-315deg);
  }
}
@keyframes rotateCCW {
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(315deg);
  }
}

.center-circle {
  position: absolute;
  width: 180px;
  aspect-ratio: 1 / 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--circle-gradient);
  box-shadow:
    0px 18px 36px -18px rgba(12, 5, 46, 0.3),
    0px 8px 16px -18px rgba(12, 5, 46, 0.25);
  border-radius: 50%;
}
.second-circle {
  position: absolute;
  width: 40%;
  aspect-ratio: 1 / 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--second-gradient);
  opacity: 0.5;
  border-radius: 50%;
}
.last-circle {
  position: absolute;
  width: 66%;
  aspect-ratio: 1 / 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--mask-gradient);
  opacity: 0.25;
  border-radius: 50%;
}
.crop {
  -webkit-mask-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 1)
  );
}
.mask {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50%;
  animation: pulseGlow 5s linear infinite alternate;
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-image: var(--mask-gradient);
}
.mask:after {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  right: 0;
  display: block;
  background-image: var(--mask-after);
}


/* globals.css */
@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 6s linear infinite;
}
